In [1]:
import numpy as np
import pandas as pd

Load the parts of the data:

In [4]:
p1 = pd.read_csv("flickr_data_part1.csv", sep='\t')
p2 = pd.read_csv("flickr_data_part2.csv", sep='\t')
p3 = pd.read_csv("flickr_data_part3.csv", sep='\t')
p4 = pd.read_csv("flickr_data_part4.csv", sep='\t')
p5 = pd.read_csv("flickr_data_part5.csv", sep='\t')
p6 = pd.read_csv("flickr_data_part6.csv", sep='\t')

And then save to one csv file:

In [11]:
frames = [p1, p2, p3, p4, p5, p6]
df = pd.concat(frames)
df = df.drop(df.columns[0], axis = 1)

In [12]:
print(df.shape)
df.head()

(2841000, 10)

,userid,title,dateupload,datetaken,views,tags,lat,lon,place_id,woeid
0,134205948@N02,Il Tounot in veste autunnale visto da St Luc,1443166542,1990-01-02 00:00:00,485,winter january stluc valdanniviers fotoanalogi...,46.179830,7.604212,qgR3ESJWWrvegJA,781702.0
1,21053104@N03,SBB Re6/6 11633,1350361548,1990-01-01 15:26:36,1372,railroad switzerland ticino railway trains svi...,45.837485,9.020311,Ojl8iJtWWrhYxtw,782098.0
2,21053104@N03,SBB Ae6/6 11404,1247112224,1990-01-06 10:57:06,1501,railroad switzerland ticino railway trains svi...,46.194938,9.029774,eeFmDUFWWrttyWQ,781773.0
3,21053104@N03,SOB De4/4 21,1275845220,1990-01-21 11:44:57,1865,railroad switzerland railway trains z端rich svi...,47.191068,8.686645,9kjHuh1WWr4tnqM,784014.0
4,71144572@N00,Plymouth Volare 1978 Taxi Z端rich 007,1186944050,1990-01-23 00:46:32,1293,schweiz switzerland taxi zurich plymouth taxid...,47.472198,8.323516,y2rhZ5BTW7ltcr39fQ,29397634.0

In [15]:
df.to_csv('Flickrs-Switzerland-1990-2017.csv', index=False)